<div class="row">
  <div class="col-xs-12">
    <form [formGroup]='firefighterForm' (ngSubmit)='onSubmit()'>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!firefighterForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" class="form-control" formControlName="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="rank">Rank</label>
            <input type="text" class="form-control" id="rank" formControlName="rank">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="rank" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12" formArrayName="qualifications">
            <div class="row" *ngFor="let qualificationsCtrl of getControls(); let i = index"
            [formGroupName] = "i">
            <input type="text" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
