<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="rank">Rank</label>
            <input type="text" class="form-control" id="rank">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="rank">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="row">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
